-# coding: utf-8
%div{class: "#{@corpName}quick-nav-title-container"}
  %span{class: "#{@corpName}quick-title-text title-en"}= @quickNav["title"]["en"]
  %i{class: "#{@corpName}title-divider"}
  %span{class: "#{@corpName}quick-title-text title-cn"}= @quickNav["title"]["cn"]
%div{class: "#{@corpName}quick-nav-lists-container"}
  %ul
    - @quickNav["lists"].each_with_index do |item, index|
      %li{class: "#{@corpName}quick-nav-item"}
        %a{class: "#{@corpName}quick-nav-item-link", href: item["url"], target: "_self"}= item["text"]
