-# coding: utf-8
- data = @sellDB["info"]
- knowIt = @sellDB["notices"]["knowIt"]
- tips = @sellDB["notices"]["tips"]
- graphics = @sellDB["assets"]
- imgBackgroundTypeC = @sellDB["assets"]["imgBackgroundTypeC"]
%div{class: "#{@corpName}sell-outter-wrap"}
  %div{class: "#{@corpName}sell-aside-container"}
    = add_fragment @quickNavContents
  %div{class: "#{@corpName}sell-contents-container"}
    %div{class: "#{@corpName}sell-header-container"}
      %img{class: "#{@corpName}sell-header-background", src: imgBackgroundTypeC["url"], width: imgBackgroundTypeC["size"]["w"], height: imgBackgroundTypeC["size"]["h"]}
      %span{class: "#{@corpName}sell-header-text-has-background"} 套餐
    %div{class: "#{@corpName}sell-bundle-info-container"}
      - data.each_with_index do |info, index|
        %div{class: "#{@corpName}sell-bundle-#{info["en"]}-container"}
          %div{class: "#{@corpName}sell-title-wrap"}
            - titleHasBackground = ""
            - if index == 0
              - titleHasBackground = "#{@corpName}sell-title-text-position"
              %img{class: "#{@corpName}sell-title-background", src: info["icon"]["url"], width: info["icon"]["size"]["w"], height: info["icon"]["size"]["h"]}
            %div{class: "#{titleHasBackground}"}
              %span{class: "#{@corpName}sell-title-text title-en"}= info["en"]
              %i{class: "#{@corpName}title-divider"}
              %span{class: "#{@corpName}sell-title-text title-cn"}= info["cn"]
          %div{class: "#{@corpName}sell-info-wrap"}
            %ul
              - info["list"].each_with_index do |text, index|
                %li{class: "#{@corpName}sell-#{info["en"]}-list"}= text
    %div{class: "#{@corpName}sell-banner-container"}
      -#%img{class: "#{@corpName}sell-banner-background-image"}
      %div{class: "tmp-background"}
    %div{class: "#{@corpName}sell-notice-know-it-container"}
      %div{class: "#{@corpName}sell-notice-know-it-title-container"}
        %img{class: "#{@corpName}sell-know-it-title-background", src: knowIt["icon"]["url"], width: knowIt["icon"]["w"], height: knowIt["icon"]["h"]}
        %div{class: "#{@corpName}sell-title-position"}
          %span{class: "#{@corpName}sell-title title-en"}= knowIt["en"]
          %i{class: "#{@corpName}title-divider"}
          %span{class: "#{@corpName}sell-title title-cn"}= knowIt["cn"]
      %div{class: "#{@corpName}sell-notice-position"}
        %div{class: "#{@corpName}sell-notice-know-it-contents-container"}
          - knowIt["contents"].each_with_index do |data, index|
            %p{class: "#{@corpName}sell-notice-pragraph"}
              %em{class: "#{@corpName}sell-notice-sub-title"}= data["title"]
              = data["content"]
    %div{class: "#{@corpName}sell-tips-container"}
      %div{class: "#{@corpName}sell-notice-tips-title-container"}
        %img{class: "#{@corpName}sell-tips-title-background", src: tips["icon"]["url"], width: tips["icon"]["w"], height: tips["icon"]["h"]}
        %div{class: "#{@corpName}sell-title-position"}
          %span{class: "#{@corpName}sell-title title-en"}= tips["en"]
          %i{class: "#{@corpName}title-divider"}
          %span{class: "#{@corpName}sell-title title-cn"}= tips["cn"]
      %div{class: "#{@corpName}sell-notice-position"}
        %div{class: "#{@corpName}sell-notice-tips-contents-container"}
          %ul
            - tips["contents"].each_with_index do |data, index|
              %li{class: "#{@corpName}sell-notice-pragraph"}
                = data
