-# coding: utf-8
-#assets data variables
- logo = @data["assets"]["logo"]
- imgBackgroundTypeA = @data["assets"]["imgBackgroundTypeA"]
- imgBackgroundTypeB = @data["assets"]["imgBackgroundTypeB"]
- searchBackground = @data["assets"]["searchBackground"]
- searchIcon = @data["assets"]["search"]
- imgText = @data["assets"]["imgText"]
- productIntro = @data["productIntro"]
%header
  %div{id: "#{@corpName}header-child-wrapper"}
    %div{id: "#{@corpName}logo-container"}
      %img{src: logo["url"], width: logo["size"]["w"], height: logo["size"]["h"]}
    %div{id: "#{@corpName}g-nav-container"}
      %ul
        - @data["nav"]["rootMenu"].each_with_index do |item, index|
          %li{class: "#{@corpName}g-nav-menu #{@corpName}g-nav-menu-item-#{index}"}
            = item
%div{id: "#{@corpName}main-contents-container"}
  - 3.times do |index|
    %section{class: "#{@corpName}splash #{@corpName}splash-#{index}"}
      - if index == 0
        %div{class: "#{@corpName}whatIDo-container"}
          %div
            %em{class: "#{@corpName}emphasis-texts #{@corpName}focal-text-coloured"} Make Your
            %span{class: "#{@corpName}sup-small-text"} 旅程更省
          %div
            %span 更
            %img{class: "#{@corpName}focal-text-with-background", width: imgBackgroundTypeA["size"]["w"], height: imgBackgroundTypeA["size"]["h"], src: imgBackgroundTypeA["url"]}
            %em{class: "#{@corpName}emphasis-texts #{@corpName}has-background"} 轻松
          %div{class: "#{@corpName}under-line"}
      - elsif index == 1
        -# search form
        %div{id: "#{@corpName}search-title-container"}
          %img{class: "#{@corpName}img-text", width: imgText["size"]["w"], height: imgText["size"]["h"], src: imgText['url']}
          %span{class: "#{@corpName}search-title"} 想去欣赏世界美景了？
          %span{class: "#{@corpName}search-title-en"} See what we've got for you!
        %div{id: "#{@corpName}search-box-container"}
          %img{class: "#{@corpName}search-box-background", width: searchBackground["size"]["w"], height: searchBackground["size"]["h"], src: searchBackground["url"]}
          - if @searchKeywords.has_key?("contents") && !@searchKeywords["contents"].empty?
            %div{class: "#{@corpName}search-keywords-top-container"}
              - @searchKeywords["contents"].each_with_index do |item, index|
                -# Make a search field between top and bottom keywords
                - if index == 1
                  %div{class: "#{@corpName}form-container"}
                    %form{target: "_top", action: "our.search.page", method: "GET", class: "#{@corpName}search-in-shop", name: "searchForm"}
                      %input{class: "#{@corpName}search-field", name: "keyword", placeholder: "输入景点名称"}
                      %div{class: "#{@corpName}search-btn-wrap"}
                        %label{for: "#{@corpName}submit-btn", id: "#{@corpName}search-btn-icon"}
                          %img{class: "#{@corpName}search-icon", src: searchIcon["url"], width: searchIcon["size"]["w"], height: searchIcon["size"]["h"]}
                        %input{type: "submit", id: "#{@corpName}submit-btn", value: ""}
                - if item.has_key?("keywords") && !item["keywords"].empty?
                  - searchKeywords = item["keywords"]
                  - keywordPos = ""
                  - if item.has_key?("pos") && item["pos"] == "top"
                    - keywordPos = "keywords-on-top"
                  - elsif item.has_key?("pos") && item["pos"] == "bottom"
                    - keywordPos = "keywords-on-bottom"
                  %div{class: "#{@corpName}search-keywords-position #{keywordPos}"}
                    - searchKeywords.each_with_index do |obj, index|
                      - hot = false
                      - if item.has_key?("pos") && item["pos"] == "top"
                        - hot = true if index == 1
                      - elsif item.has_key?("pos") && item["pos"] == "bottom"
                        - hot = true if index == 2
                      - focus = "focus-word" if hot
                      %a{class: "#{@corpName}search-keywords #{focus}", href: obj["url"], target: "_blank"}= obj["key"]
      - else
        %div{id: "#{@corpName}product-intro-title-container"}
          %div{class: "#{@corpName}product-intro-title-top"}
            %em{class: "#{@corpName}focal-intro-title-text-coloured"} Your
            %em{class: "#{@corpName}intro-title-text"} Trip
            %span{class: "#{@corpName}sub-small-text"} 可以更容易
          %div{class: "#{@corpName}product-intro-title-below"}
            %div{class: "#{@corpName}product-intro-title-blow-position"}
              %em{class: "#{@corpName}intro-title-text"} With
              %em{class: "#{@corpName}focal-intro-title-text-coloured"} Our
            %img{class: "#{@corpName}intro-title-product-name-background", src: imgBackgroundTypeB["url"], width: imgBackgroundTypeB["size"]["w"], height: imgBackgroundTypeB["size"]["h"]}
            %span{class: "#{@corpName}intro-title-product-name"} 旅游卡
        - productIntro.each_with_index do |data, index|
          -# data exchange to intro-text-info.html.haml file
          - setData(data)
          %div{class: "#{@corpName}product-intro-container info-container-#{index}"}
            - if index % 2 != 0
              %div{class: "#{@corpName}info-views-box"}
                - data["graphics"].each_with_index do |graphic, index|
                  %img{class: "#{@corpName}intro-graphic graphic-#{index}", width: graphic["size"]["w"], height: graphic["size"]["h"], src: graphic["url"]}
              = add_fragment @homeIntroInfo
            - else
              = add_fragment @homeIntroInfo
              %div{class: "#{@corpName}info-views-box"}
                - data["graphics"].each_with_index do |graphic, index|
                  %img{class: "#{@corpName}intro-graphic graphic-#{index}", width: graphic["size"]["w"], height: graphic["size"]["h"], src: graphic["url"]}
= add_fragment @footer
